@import "tailwindcss";

/* tells Tailwind v4 to turn variables into usable classes */
@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

/* custom theme colors */
@layer base {
  :root {
    --background: oklch(97.233% 0.0068 295.073);
    --foreground: oklch(.145 0 0);
    --card: #fff;
    --card-foreground: oklch(.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(.145 0 0);
    --primary: oklch(.55 .14 270);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(90.62% 0.02869 292.312);
    --secondary-foreground: oklch(.145 0 0);
    --muted: oklch(.96 .01 210);
    --muted-foreground: oklch(.45 .01 210);
    --accent: oklch(.55 .14 270);
    --accent-foreground: oklch(.145 0 0);
    --destructive: #d4183d;
    --destructive-foreground: #fff;
    --border: oklch(.88 .01 210);
    --input: transparent;
    --ring: oklch(.55 .14 270);
    --radius: .625rem;
  }

  .dark {
    --background: oklch(.145 0 0);
    --foreground: oklch(.985 0 0);
    --card: oklch(.145 0 0);
    --card-foreground: oklch(.985 0 0);
    --popover: oklch(.145 0 0);
    --popover-foreground: oklch(.985 0 0);
    --primary: oklch(0.6 0.2 270);
    --primary-foreground: oklch(.985 0 0);
    --secondary: oklch(.269 .02 210);
    --secondary-foreground: oklch(.985 0 0);
    --muted: oklch(.269 0 0);
    --muted-foreground: oklch(.708 0 0);
    --accent: oklch(0.6 0.2 270);
    --accent-foreground: oklch(.985 0 0);
    --destructive: oklch(.396 .141 25.723);
    --destructive-foreground: oklch(.637 .237 25.331);
    --border: oklch(.269 0 0);
    --input: oklch(.269 0 0);
    --ring: oklch(0.6 0.2 270);
  }
}

/* 3. Apply the background globally */
@layer base {
  * {
    border-color: var(--border);
    outline-color: var(--ring);
  }
  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}